body {
    background-color: black;
}
#active{
    color: #fffe4a;
    border-color: #fffe4a ;
}
.container-fluid {
    background-color: #566460;
    padding: 0px;
    height:150px;
}
.row {
    margin: 0px;
}
.menu.col-sm-6.col-md-6.col-lg-6 {
    margin: 0px;
}
.menu.list-inline {
    margin-left: -10px;
}
.menu.list-inline li{
    padding: 0px;
    margin-right: 1px;
}
.menu.list-inline li a{
    color: white;
    border-color: white;
}
.reg.col-sm-2.col-md-2.col-lg-2{
    margin-top: -62px;
    float:right;
    padding: 0px;
    margin-right: 20px;
}
.reglist {
    float: right;
    margin-right: 20px;
}
.list-unstyled a {
    color:white;
    text-decoration: none;
}
.info.col-md-1 {
    float: right;
}
.container.main {
    padding: 0px;
}
.container {
    padding: 0px;
}
.col-xs-4.col-sm-4.col-md-4.col-lg-4.title {
    padding: 0px;
    left: 50%;
    margin-left: -16%;
}
.content.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0px;
}
#setid2 {
    display: none;
}
.passendname.col-xs-4.col-sm-4.col-md-4.col-lg-4 {
    padding: 0px;
    left: 50%;
    margin-left: -16%;
}
.btn-info.name {
    width: 150px;
}
.passend.col-xs-4.col-sm-4.col-md-4.col-lg-4 {
    margin-left: 42%;
    padding: 0px;
}
.info.col-xs-2.col-sm-2.col-md-2.col-lg-2 {
    padding: 0px;
    left:50%;
    margin-left: -10%;
}
#info h4{
    margin-left: 30px;
}
.row {
    margin: 0px;
    padding: 0px;
}
footer {
    position: fixed;
    background-color: #4DA13F;
    height: 30px;
    left:0 ; bottom:0 ;
    width: 100%
}
footer p {
    margin: 7px;
    font-size: 11px;
    color: black;
}
